#pick-h1{
    text-align: center;
    margin-top: 25px;
}
#adddel-input-data{
    background-color: white;
    margin-top: 50px;
    border: 2px solid #dcdcdc;
    text-align: center;
}
#adddel-del-one{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#adddel-del-all{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
#adddel-data-page{
    width: 216px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
