#pick-h1{
    text-align: center;
    margin-top: 25px;
}
#dbmanagement-search-container{
    float: right;
    margin-top: 20px;
}
#dbmanagement-input-tag{
    width: 100px;
    display: inline-block;

    
}
#dbmanagement-input-text{
    display: inline-block;
      
  
}
#dbmanagement-input-data{
    text-align: center;
}



#dbmanagement-select-button{
    margin-bottom:9px;
}

#dbmanagement-select-search{
    margin-bottom: 9px;
}

#dbmanagement-mtext{
    width: 300px;
}
#dbmanagement-btn-click{
    display: inline-block;
}
#dbmanagement-input-data{
    margin-top: 120px;
    
}
#dbmanagement-input-data > table{
    background-color: white;
    border: 2px solid #dcdcdc;
}
#dbmanagement-del-one{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#dbmanagement-del-all{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
#dbmanagement-data-page{
    width: 216px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
