@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.div{
    font-family: "Noto Sans KR", sans-serif;
}

.h1{
    font-weight:
}

#title {
    text-align: center;

}

#searchbar{
    text-align: center;
    width: 250px;
    display:inline-block;
}

#search-btn{
    margin-left: 15px;
    display:inline-block;
    
}

#allsize{
    text-align: center;

}

#select-search{
    
    width: 250px;
    display:inline-block;
    margin-bottom: 5px;
}

#search-block{
    margin-right: 70px;
    text-align: right;

}

#select-block{
    width: 250px;
    display:inline-block;
    margin-left: 380px;
}

#title{
    margin-top: 100px;
}

#top-search{
   margin-left: 50px;

}

#table-contorll{

    height: 570px;
    width:800px;
    text-align: center;
    background-color: white;

}

#delete-btn{
    margin-left: 20px;
    
}
#allsize{
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 50px;
    margin-left: 50px;
}


#page-controll{
  
   text-align: center;
   margin-left: 270px;
   margin-top: 50px;
}