.accordian_banner {
    width: 500px;
}

.accordion_title {
    display: block;
    padding: 6px;
    color:black;
    font-weight: 500;
    background-color:white; 
}

.accordion_sub{
   display: none; 
   background-color: rgb(237, 233, 233);
   padding: 10px;
    font-size: 12px;
}

.ptag {
    padding-top:10px;
}
.modi_btn {
    
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color:rgb(219, 52, 115);
    border: 1px solid rgb(219, 52, 115);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }

.modi_btn:hover {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color:rgba(219, 52, 115, 0.85);
    border: 1px solid rgba(219, 52, 115, 0.85);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }

  #buttons {
    padding-bottom: 10px;
    padding-left:400px;
    
  }

  
.write_btn {
    
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color:rgb(219, 52, 115);
    border: 1px solid rgb(219, 52, 115);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .board_write_btn {
    text-align: center;
  }
  
  .write_btn:hover {
    background-color:rgba(219, 52, 115, 0.85);
    border: 1px solid rgba(219, 52, 115, 0.85);
    color: white;
    text-decoration: none;
  }

  .faq_table{
      text-align: center;
  }