input[id*="answer"]{
    display: none;
}

input[id*="answer"] + label {
    display: block;
    padding: 6px;
    border: 1px solid #232188;
    border-bottom: 0;
    color: #fff;
    font-weight: 500;
    background: #3634a5;
}

input[id*="answer"] + label em {
    position: absolute;
    top:50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top:-15px;
    display:inline-block;
}

input[id*="answer"] + label + div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background:rgb(237, 233, 233);
    font-size: 13px;

}

input[id*="answer"]:checked + label + div {
    padding: 2px;
    max-height: 200px;}
