@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    background-color: beige;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e3e3e3;

}

#main-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

#back-button {
    color: rgb(255, 7, 88);
    font-weight: bold;
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 0 15px;
    font-size: 26px;
}

#staff-info-wrapper {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 10px;
}
#staff-info-wrapper img {
    width: 80px;
    height: 80px;
}
#staff-name-and-role {
    display: inline-block;
}

#staff-name-and-role h4 {
    margin: 0;
    font-weight: bold;
}

.movie-info-wrapper {
    width: 1000px;
    margin: 0 auto;
}
.movie-info {
    display: inline-block;
    margin-right: 10px;
    
}
.movie-info img {
    width: 150px;
    height: 200px;
}

#movie-info-wrapper a {
    text-decoration: none;
    color: black;
}

#movie-info-wrapper a:hover {
    font-weight: 600;
}