<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/logo_favicon.ico">
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/movie_detail.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--icon-->
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="navbar">
                <div class="navbar_logo">
                    <img id="logo" src="img/logo.png"> <!-- 이미지파일 이동 시 경로 확인!-->
                </div>
                <div class="menu">
                    <ul>
                        <span>
                            <li><a href="#">ABOUT US</a></li>
                        </span>
                        <span>
                            <li><a href="#">평가하기</a></li>
                        </span>
                        <span>
                            <li><a href="#">고객센터</a></li>
                        </span>
                    </ul>
                </div>

                <!--검색창-->
                <div class="searchbar">
                    <form action="#">
                        <div class="search_box">
                            <div class="icon"><i class="fas fa-search"></i>
                                <input type="text" value="" placeholder=" 작품 제목, 배우,감독을 검색해보세요.">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="menu">
                    <ul>
                        <span>
                            <li><a href="#">로그인</a></li>
                        </span>
                        <span>
                            <li><a href="#">회원가입</a></li>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="main-container">
        <div id="basic-info-and-rating">
            <div id="poster">
                <img alt="" src="img/220px-영화_소울.jpg" style="width: 160px; height: 240px" />
            </div>
            <div id="basic-info">
                <h1 id="title">소울</h1>
                <div id="year-genre-country">2020・애니메이션・미국</div>
                <div id="star-average">평균 ★4.2 (3만명)</div>
                <div id="watch-or-comment">
                    <button type="button" class="btn btn-primary btn-lg" id="wanna-watch">보고싶어요</button>
                </div>
                <div id="star-rating">
                    <p>평가하기</p>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                    <span><img src="img/star_empty.svg" alt=""></span>
                </div>
            </div>
        </div>
        <div id="main-info-container">
            <div id="trailer-zone">
                <div class="detail-info">
                    <h4>예고편</h4>
                </div>
                <div id="video-zone">
                    <iframe width="900" height="550" src="https://www.youtube.com/embed/Q0zFPlArth0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div id="movie-basic-info">
                <div class="detail-info">
                    <h4>기본 정보</h4>
                    <span class="more-info"><a href="movie_more_info.html">더보기</a></span>
                </div>
                <div>Soul</div>
                <div>2020・애니메이션・미국</div>
                <div>1시간 40분</div>
                <div id="plot">
                    <p>나는 어떻게 ‘나’로 태어나게 되었을까? 지구에 오기 전 영혼들이 머무는 ‘태어나기 전 세상’이 있다면?</p>
                    <p>뉴욕에서 음악 선생님으로 일하던 ‘조’는 꿈에 그리던 최고의 밴드와 재즈 클럽에서 연주하게 된 그 날, 예기치 못한 사고로 영혼이 되어 ‘태어나기 전 세상’에
                        떨어진다. 탄생
                        전 영혼들이 멘토와 함께 자신의 관심사를 발견하면 지구 통행증을 발급하는 ‘태어나기 전 세상’. ‘조’는 그 곳에서 유일하게 지구에 가고 싶어하지 않는 시니컬한 영혼
                        ‘22’의 멘토가 된다.
                    </p>
                    <p>링컨, 간디, 테레사 수녀도 멘토되길 포기한 영혼 ‘22’. 꿈의 무대에 서려면 ‘22’의 지구 통행증이 필요한 ‘조’. 그는 다시 지구로 돌아가 꿈의 무대에 설 수
                        있을까?</p>
                </div>
            </div>

            <div id="staffs">
                <div class="detail-info">
                    <h4>출연/제작</h4>
                    <div id="staffs-slider">
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>
                        <div class='slider-elements'>
                            <a href="">
                                <img src="img/profile.svg" class="profile-img">
                                <div class="name-and-role">
                                    <div class="staff-name">피트 닥터</div>
                                    <div class="staff-role">감독</div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="detail-info">
                    <h4>별점 그래프</h4>
                    <div>여기에 차트</div>
                </div>
                <div class="detail-info">
                    <h4>코멘트</h4>
                    <span class="more-info"><a href="rating_more.html">더보기</a></span>
                    <div id="comment-zone">
                        <div class="comment-card">
                            <div class="user-info-and-rating">
                                <img src="img/profile.svg" class="profile-img" />
                                <div class="user-nickname">지니어스현</div>
                                <div class="comment-star-rating">★ 5.0</div>
                            </div>
                            <div class="comment">
                                <p>최고의 영화</p>
                                <p>읏챠피디아를 뒤집어 놓으셨다</p>
                            </div>
                            <div class="like-count-zone">
                                <img src="img/like.svg" id="like-thumb" />
                                <span id="like-count">123</span>
                            </div>
                            <div class="like-and-report">
                                <span><button>좋아요</button></span>
                                <span><button>신고하기</button></span>
                            </div>
                        </div>
                        <div class="comment-card">
                            <div class="user-info-and-rating">
                                <img src="img/profile.svg" class="profile-img" />
                                <div class="user-nickname">지니어스현</div>
                                <div class="comment-star-rating">★ 5.0</div>
                            </div>
                            <div class="comment">
                                <p>최고의 영화</p>
                                <p>읏챠피디아를 뒤집어 놓으셨다</p>
                            </div>
                            <div class="like-count-zone">
                                <img src="img/like.svg" id="like-thumb" />
                                <span id="like-count">123</span>
                            </div>
                            <div class="like-and-report">
                                <span><button>좋아요</button></span>
                                <span><button>신고하기</button></span>
                            </div>
                        </div>
                        <div class="comment-card">
                            <div class="user-info-and-rating">
                                <img src="img/profile.svg" class="profile-img" />
                                <div class="user-nickname">지니어스현</div>
                                <div class="comment-star-rating">★ 5.0</div>
                            </div>
                            <div class="comment">
                                <p>최고의 영화</p>
                                <p>읏챠피디아를 뒤집어 놓으셨다</p>
                            </div>
                            <div class="like-count-zone">
                                <img src="img/like.svg" id="like-thumb" />
                                <span id="like-count">123</span>
                            </div>
                            <div class="like-and-report">
                                <span><button>좋아요</button></span>
                                <span><button>신고하기</button></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="detail-info">
                    <h4>이 작품이 담긴 컬렉션</h4>
                    <div>
                        <div class="collection-zone">
                            <div class="collection-card">컬렉션입니다</div>
                            <div class="collection-title">읏챠피디아 엄선 컬렉션</div>
                        </div>
                        <div class="collection-zone">
                            <div class="collection-card">컬렉션입니다</div>
                            <div class="collection-title">개발자 서우 PICK!</div>
                        </div>
                        <div class="collection-zone">
                            <div class="collection-card">컬렉션입니다</div>
                            <div class="collection-title">개발자 윤지 PICK!</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 여기부터 footer-->
    <footer>
        <div class="row-space">

            <section class="count_space">
                <span class="count">지금까지<em> ★ 123,534,545 개의 평가가 </em> 쌓였어요.</span>
            </section>

            <section class="container">

                <div class="footer_box">
                    <ul class="footer_list_box">
                        <li>서비스 이용약관 | 개인정보 처리방침 | 회사안내</li>
                        <span class="box_space">
                            <li>고객센터 | cs@eutcharpedia.com, 02-123-4567</li>
                            <li>제휴 및 대외 협력 | contact@eutcha.com</li>
                        </span>
                        <li>주식회사 읏챠 | 대표 이지현 | 서울특별시 영등포구 선유동2로 57 이레빌딩(구관) 19F,20F</li>
                        <li>사업자 등록번호 211-12-34567</li>
                        <li>© 2021 by EUTCHA, Inc. All right reserved</li>
                    </ul>
                </div>

                <div class="social_container">
                    <div class="social_icons">
                        <span><a href="#"><i class="fab fa-instagram"></i></a></span>
                        <span><a href="#"><i class="fab fa-facebook-f"></i></a></span>
                        <span><a href="#"><i class="fab fa-twitter"></i></a></span>
                    </div>
                </div>

            </section>
        </div>
    </footer>
    <!-- scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</body>

</html>