<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/rating_more.css" type="text/css" />
</head>

<body>
    <header>
        <img src="img/파이널로고.png" style="width: 252px; height: 36px;" />
    </header>
    <div id="main-container">
        <div>
            <button id="back-button" onclick="location.href='movie_detail.html'">←</button>
        </div>
        <div class="title">코멘트</div>
        <div class="title" id="rating-title">관람객 평점 <span style="font-weight: bold;">2,345</span>건</div>
        <div class="dropdown" id="sort-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                정렬 기준 선택
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="thumbsup">좋아요 많은 순</a>
                <a class="dropdown-item" href="#" id="recent">최신순</a>
                <a class="dropdown-item" href="#" id="rating-high">평점 높은 순</a>
                <a class="dropdown-item" href="#" id="rating-low">평점 낮은 순</a>
            </div>
        </div>
        <div class="rating-zone">
            <div class="comment-card">
                <div class="profile-and-rating">
                    <div class="profile">
                        <img src="img/profile.svg" alt="">
                        <span class="nickname">지니어스현</span>
                    </div>
                    <div class="rating">
                        ★
                        <span>5.0</span>
                    </div>
                </div>
                <div class="comment-and-date">
                    <div class="comment">
                        <p>최고의 영화</p>
                        <p>읏챠피디아를 뒤집어 놓으셨다</p>
                    </div>
                    <div class="date">
                        2021.02.02 22:41
                    </div>

                </div>
                <div class="like">
                    <img src="img/like.svg" alt="">
                    <span>123</span>
                </div>

                <div class="like-and-report">
                    <span><button>좋아요</button></span>
                    <span><button>신고하기</button></span>
                </div>
            </div>
            <div class="comment-card">
                <div class="profile-and-rating">
                    <div class="profile">
                        <img src="img/profile.svg" alt="">
                        <span class="nickname">지니어스현</span>
                    </div>
                    <div class="rating">
                        ★
                        <span>5.0</span>
                    </div>
                </div>
                <div class="comment-and-date">
                    <div class="comment">
                        <p>최고의 영화</p>
                        <p>읏챠피디아를 뒤집어 놓으셨다</p>
                    </div>
                    <div class="date">
                        2021.02.02 22:41
                    </div>
                </div>
                <div class="like">
                    <img src="img/like.svg" alt="">
                    <span>123</span>
                </div>
                <div class="like-and-report">
                    <span><button>좋아요</button></span>
                    <span><button>신고하기</button></span>
                </div>
            </div>
            <div class="comment-card">
                <div class="profile-and-rating">
                    <div class="profile">
                        <img src="img/profile.svg" alt="">
                        <span class="nickname">지니어스현</span>
                    </div>
                    <div class="rating">
                        ★
                        <span>5.0</span>
                    </div>
                </div>
                <div class="comment-and-date">
                    <div class="comment">
                        <p>최고의 영화</p>
                        <p>읏챠피디아를 뒤집어 놓으셨다</p>
                    </div>
                    <div class="date">
                        2021.02.02 22:41
                    </div>

                </div>
                <div class="like">
                    <img src="img/like.svg" alt="">
                    <span>123</span>
                </div>

                <div class="like-and-report">
                    <span><button>좋아요</button></span>
                    <span><button>신고하기</button></span>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>