@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main-body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 70px;
    min-height: 100%;
    position: relative;
    width: 100%; 
}

.main-header {
    position: relative;
    left:0px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 70.5px;
    border-bottom: 1px solid rgb(227, 227, 227);
    border-top: 1px solid rgb(227, 227, 227);
    text-align: left;
    height: auto;
}

.x {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    color:  rgb(255, 47, 110);
    margin: 13px 0;
    cursor: pointer;
}

.tag-title {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
    letter-spacing: -1.2px;
    font-size: 22px;
    line-height: 29px;
    white-space: nowrap;
    width: 100%;
}
.row-space-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-space-movie {
    padding-top: 8px;
    margin: 0px 20px;
}

.movie-list {
    list-style: none;
    padding: 0px;
    margin: 14px -5px 0px;
    overflow: hidden;
}

.movie-detail > a {
    text-decoration: none;
    width: 100%;
}

.movie-name {
    color: rgb(41, 42, 50);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
}

.movie-value {
    color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    white-space: nowrap;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}