@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main-body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 100%;
    position: relative;
    text-align: center; 
}

@media (min-width: 719px) {
    .find-password-main {  
        margin-top: 150px; 
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: left;
        width: 375px;
        height: auto;
        min-height: 540px;
        border-radius: 6px;
        overflow: auto;
    }
}

.first-title {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px 20px 16px;
    position: relative;
    text-align: left;
    height: auto;
}

.x {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    color:  rgb(255, 47, 110);
    margin: 13px 0;
    cursor: pointer;
}

.password-reset {
    font-size: 22px;
    line-height: 29px;
    width: 100%;
    overflow: hidden;
}

.second-title {
    margin: 32px 0px 12px;
    padding : 0px 16px 20px 16px;
}

.password-forget {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin: 32px 0px 12px;
}

.write-email {
    color: rgb(140, 140, 140);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin: 10px 0px;
}

.find-password-form {
    margin: 0px 20px 20px 20px;   
}

.input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    font-weight: 700;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    border-radius: 6px;
    border: none;
}

.find-password-button {
    padding: 0px;
    border: none;
    cursor: pointer;
    background: rgb(255, 47, 110);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    margin: 16px 0px 0px; 
}