@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif; 
}

.main-body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 100%;
    position: relative;
    text-align: center; 
}

@media (min-width: 719px) {
    .login-main {
        padding-top: 130px;
        margin: 0 20px;
        display: inline-block;
        position: relative;
        vertical-align: middle; 
        text-align: center; 
        width: 375px;
        height: auto;
        min-height: 540px;
        border-radius: 6px;
        overflow: auto;
    }
}

.logo {
    text-align: center;
    margin: 0px 0px 14px;
    overflow: hidden;
}

.title {
    font-size: 17px;
    letter-spacing: -0.5px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    margin: 24px 0px 20px;
}

.login-form {
    margin: 0px 20px 20px 20px;
    padding: 0px 12px;
    
}

.form {
    display: block;
    margin-top: 0em;
    text-align: center;
}
.input-nickname {
    margin: 0px 0px 10px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    border-radius: 6px;
    border: none;

}

.input-email {
    margin: 0px 0px 10px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    border-radius: 6px;
    border: none;
}

.input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    border-radius: 6px;
    border: none;
}

.login-button {
    padding: 0px;
    border: none;
    cursor: pointer;
    background: rgb(255, 47, 110);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    margin: 16px 0px 0px; 
}

.signup-block {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(140, 140, 140);
    text-align: center;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.signup-block > button {
    background: none;
    padding: 0px;
    border: none;
    margin: 0px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 47, 110);
}


#kakao-login {
    margin: 20px;
    padding: 0px 12px;
    border-radius: 6px;
}

#naver-login {
    margin: 0px 20px 20px 20px;
    padding: 0px 12px;  
    border-radius: 6px;
}