@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.mybody-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 30px;
}
.title {
  margin-left: 20px;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: -1.4px;
  border-bottom: 1px solid rgb(194, 194, 194);
  line-height: 3em;
}

.moviewrapper {
  margin-left: 10px;
  float: left;
}

#modal-div {
  width: 370px;
  height: 500px;
  font-size: 1rem;
  line-height: 3rem;
  color: gray;
}
.sortwrapper {
  margin-top: 20px;
}
.sortbtn {
  margin-left: 20px;
}
#sorttext {
  border-bottom: 1px solid rgb(221, 217, 217);
}

#sorttext:hover {
  font-weight: bolder;
}

#modal-header {
  display: block;
}
#modal-title {
  text-align: center;
  color: black;
}

#xbtn {
  color: rgb(255, 7, 88);
  font-weight: bolder;
}
