@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.mybody-wrapper {
  height: 100%;
  padding-bottom: 100px;
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  font-weight: bold;
  color: rgb(133, 192, 128);
  letter-spacing: 0.5rem;
}

h6 {
  font-style: italic;
}

.mybody {
  height: 100%;
  margin-left: 230px;
}
.mybody > div {
  float: left;
}

.left {
  margin-right: 0;
  min-width: 250px;
  max-width: 250px;
  min-height: 800px;
  max-height: 800px;
  padding-right: 30px;
}

.center {
  min-width: 550px;
  min-height: 800px;
  max-height: 800px;
}

.right {
  min-width: 550px;
  min-height: 800px;
  max-height: 800px;
}

#profileimg > img {
  width: 200px;
  height: 240px;
}

.info {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 20px;
  min-width: 220px;
  max-width: 220px;
  min-height: 320px;
  max-height: 320px;
  line-height: 2rem;
  font-size: large;
}

.info-title {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.info-text {
  text-align: left;
}

/* 중앙부분 시작 */

.center1 {
  min-height: 420px;
  max-height: 420px;
}

.center1-box {
  max-width: 500px;
  min-height: 300px;
  background-color: rgb(209, 209, 204);
}

.center-box-img {
  min-width: 125px;
  max-width: 125px;
  min-height: 150px;
  min-height: 150px;
  background-color: pink;
  float: left;
}
.center2 {
  max-height: 380px;
}

.center2-box {
  max-width: 500px;
  min-height: 300px;
  background-color: rgb(209, 209, 204);
}

.right1 {
  height: 320px;
}

.right1-box {
  max-height: 220px;
  min-height: 220px;
}

.right1-box-text {
  width: 550px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right1-box-text > p {
  font-size: 0.8rem;
  text-align: center;
  padding: 35px;
  margin-top: 10px;
}

.right2 {
  height: 280px;
}

.right2-box {
  max-height: 220px;
  min-height: 220px;
}

.right3 {
  height: 200px;
}

.right3-box {
  min-height: 120px;
  max-height: 120px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: rgb(40, 165, 123);
}
