@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.mybody-wrapper {
  margin-top: 15px;
  position: relative;
  height: 80%;
  padding-bottom: 100px;
  font-family: "Noto Sans KR", sans-serif;
}

/* .header {
    min-height: 100px;
    background-color: rgb(176, 218, 200);
  } */

.main-title {
  font-size: 2.5rem;
  color: rgb(151, 150, 151);
  letter-spacing: -0.1rem;
  border-bottom: 1px solid rgb(223, 219, 219);
}

.title-div {
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.line {
  border-bottom: 1px;
}
h2 {
  letter-spacing: 0.3rem;
}

.info {
  overflow: scroll;

  padding: 20px;
  min-width: 220px;
  max-width: 220px;
  min-height: 180px;
  max-height: 180px;
  line-height: 2rem;
  font-size: large;
  background-color: rgb(235, 238, 237);
}

.info-title {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.info-text {
  text-align: left;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  color: gray;
}

.sidebar-menu {
  width: 220px;
  background-color: rgb(204, 203, 203);
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.sidebar-menu:hover {
  transition: 0.7s;
  background-color: rgb(94, 220, 63);
  font-weight: bold;
}

.sidebar-menu > a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1.2rem;
}
.mybody {
  height: 100%;
  margin-left: 230px;
}
.mybody > div {
  float: left;
}

.left {
  margin-right: 0;
  min-width: 250px;
  min-height: 800px;
  text-align: center;
  padding-right: 20px;
}

.center {
  min-width: 550px;
  min-height: 800px;
  max-height: 800px;
}

.right {
  min-width: 550px;
  min-height: 800px;
  max-height: 800px;
}
#proflieimg > img {
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  height: 250px;
}

.sidebar {
  text-decoration: none;

  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

.sidebar > a {
  text-decoration: none;
  color: rgb(161, 160, 160);
}
.sidebar > a:hover {
  text-decoration: none;
  color: rgb(95, 102, 102);
  font-weight: bold;
  cursor: pointer;
}
/* 중앙부분 시작 */

.center1 {
  min-height: 420px;
  max-height: 420px;
}

.center1-box {
  max-width: 500px;
  min-height: 300px;
}

.center-box-img {
  min-width: 125px;
  max-width: 125px;
  min-height: 150px;
  min-height: 150px;
  float: left;
}

.center2 {
  max-height: 380px;
}

.center2-box {
  max-width: 500px;
  min-height: 300px;
}

.right1 {
  height: 320px;
}

.right1-box {
  max-height: 220px;
  min-height: 220px;
}

.right1-box-text {
  width: 550px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right1-box-text > p {
  font-size: 0.8rem;
  text-align: center;
  padding: 35px;
  margin-top: 10px;
}

.right2 {
  height: 280px;
}

.right2-box {
  max-height: 220px;
  min-height: 220px;
}

.right3 {
  height: 200px;
}

.right3-box {
  min-height: 120px;
  max-height: 120px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: rgb(40, 165, 123);
}

.starcount {
  font-size: 1rem;
  color: rgb(130, 126, 126);
}

.sub-title {
  font-style: italic;
  color: black;
}
