@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.mybody-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 30px;
}
.title {
  margin-left: 20px;
  font-size: 1.4em;
  font-weight: 600;
  /* border-bottom: 1px solid rgb(194, 194, 194); */
  line-height: 3em;
}

.title-sub {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  /* border-bottom: 1px solid rgb(194, 194, 194); */
  line-height: 3em;
}

.moviewrapper {
  margin-left: 10px;
  display: inline-block;
}

.movie-div {
  float: left;
}

#modal-div {
  width: 370px;
  height: 500px;
  font-size: 1rem;
  line-height: 3rem;
  color: gray;
}

#sorttext {
  border-bottom: 1px solid rgb(221, 217, 217);
}
.sortwrapper {
  margin-top: 20px;
}
.sortbtn {
  margin-left: 20px;
}
#sorttext:hover {
  font-weight: bolder;
}

#modal-header {
  display: block;
}
#modal-title {
  text-align: center;
  color: black;
}

#xbtn {
  color: rgb(255, 7, 88);
  font-weight: bolder;
}

.tabui {
  list-style: none;
  margin: 0px;
  display: flex;
  align-items: flex-end;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0px 16px;
}

.listyle {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 47, 110);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 20px;
  min-width: 48px;
  height: 44px;
  border-bottom: 3px solid rgb(255, 47, 110);
  cursor: pointer;
  box-sizing: border-box;
  width: 50%;
  max-width: 150px;
}

.listyle2 {
  max-width: 150px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(120, 120, 120);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  min-width: 48px;
  height: 44px;
  padding: 0px 0px 3px;
  cursor: pointer;
  box-sizing: border-box;
  width: 50%;
}

.dividestar {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(228, 223, 223);
}
