@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
}

main{
    margin: 100px 150px;
    padding:0 100px;

    }
 

a, a:link{
  text-decoration: none;
  color: unset;
  size: unset;

} 

/*about us */

.about-section{
    display: block;
    background: url(/img/t.png) no-repeat left;
    background-size: 34%;
    background-color: #fdfdfd;
    overflow: hidden;

}

.about-inner-container{
    width: 64%;
    float: right;
    background-color: #fdfdfd;
    padding: 90px;
}

.inner-container h1{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.about-text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 38px;

    
}

.about-text span{
  color:#f1044b;
  padding: 2px;
  font-weight: bold;
  font-size: 23px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}


/*member_info*/


 .member-title {
    font-size: 44px;
    color: #212529;
    word-break: keep-all;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.member-color {
    color: #f1044b;
    font-weight: bolder;
    text-align: center;
} 

.member-color > em{
    color: rgb(51,51,51);
    font-style: normal;
    font-weight: bolder;
}

.member-outbox{
  /* width: 80%; */
  height: 650px;
  box-sizing: border-box;
  border: 1px solid green;
  border-style: none;
  position: relative;
  padding:50px 100px;
  padding-left: 130px;
  margin-left: 110px;
  display: inline-block;
  justify-content: center;
  background-color:transparent;

}


div #member-container ul li h3{
  background:RGB(255, 7, 88); 
  width:fit-content;
  border-radius: 5px;
  display: block;
  color: #fff;
  font-size: 15px;
  padding: 3px;
  margin-left: 10px;
  text-align: center;

}

div #member-container ul li h4{
  
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 17px;
  padding: 3px;
  text-align: left;
  margin-left: 10px;
}

div #member-container ul li p {
  
  font-size:20px;
  text-decoration: none; 
  color: #fff;
  padding: 15px 0;
}

div #member-container ul li {

/* float:left; */
z-index: 10; 
margin: 15px;
list-style: none;
height: 270px;
overflow: hidden;
background:transparent;
flex-wrap: wrap;
display: inline-block;
border: 1px solid #c7c7c7; 
border-radius: 7px;
text-align: center;
transition: all 1s;

}


#member-container ul li .member_inner{
 z-index: 10; 
 visibility: hidden;  
 transition: all 1s; 
/* border: 1px solid black; */
border-style: none;
width: 200px;
height: 270px;
box-sizing: border-box;
background-color: #141111da;
color:#fff;
line-height:20px;
/* text-align: center; */
font-size: small;
padding-top: 10px;
transition: all 1s;
margin-top: -66px;

 }

 #member-container ul li:hover>div{
  visibility: visible;
  transform: translateY(-200px);    
}

#member-container ul::after{
  content:""; 
  display: block;
  clear: both;
}

#member-container{
/* align-content: center; */
  flex-wrap: wrap;
 display: inline-block;
 /* justify-content: space-around;  */
 justify-content: center;
 padding: 0;
  
}
