@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); 


 *{
    box-sizing: border-box;
    border-style: none;
    text-decoration: none;
    outline: none;
    list-style: none;
 }
body,
html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
header{

  /* position: absolute;  */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 1000;
  min-width: 1200px;
}

.wrap {
  min-height: 100%;
  padding-top: 100px;
  padding-bottom: 280px;
  background-color: none;
}

li{
    list-style: none;
}

#logo{
    width: 240px; 
    height:40px; 
}

.wrapper .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  height: 100px;
  /* padding: 0 30px; */
  background: #ffffff;;
  position: relative;
}

.wrapper .navbar .menu ul li{
  display: inline-block;
  margin: 0 10px;
}

.wrapper .navbar .menu ul li a{
  color: rgb(51,51,51);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 23px;
  
}

.navbar .menu a{
    color: rgb(51,51,51);
    font-size: 25px;
    font-weight: 500;
    padding: 5px; 
    font-weight: bold;
    /* text-transform: uppercase; */
    position: relative;
    z-index: 1;
  }
.navbar .menu a::after{
    content: "";
    position: absolute;
    border-radius: 10px;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: RGB(255, 7, 88) ;
    transition: all .5s ease-out;   
}
.navbar .menu a:hover::after {
    width: 100%;
}

/*검색창*/
.search_box{
    display: flex; 
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box ;
    border-color: rgb(51, 51, 51);
    border-style: none;
    border-bottom: 1px solid #1c1d1f;
    border-width: 1px;
    width: 290px;
    height: 35px;
    padding: 7px 10px 8px 20px;
    border-radius: 2px;
    border-image: initial;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    color: #7e7e7e80;
    /* background:#ccc9c93a; */
    background-color: transparent;
}

.searchbar input[type=text]{
    border: 1px solid rgb(51,51,51);
    box-sizing: border-box;
    border-width: 0px;
    padding: 0 1px;
    height: 35px;
    width: 220px;
    border-radius: 3px;
    line-height: 30px;
    background: transparent;
    border-color: #33333385;
    /* text-overflow: ellipsis; */
    letter-spacing: -0.3px;
    font-size: 0.75em;
    font-weight: bold;


  }  


@media screen and (max-width: 730px){
  .wrapper .navbar{
    padding: 0px;
    flex-direction: column;
    height: 200px;
    justify-content: center;
  }
  .wrapper .navbar .menu ul li{
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .searchbar .icon{
    margin-right: -20px;
  }
}


/*-------footer---------*/



footer{

    left: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
    z-index: 1000;
    min-width: 1200px;
    background-color: #1c1d1f;
  }
  

footer > div {
  position: relative; 
  width: 100%; 
  padding: 20px 0 ;
  margin: 0 auto;
}

footer > .footer-left { 
  text-align: left; 
  line-height: 100%;
  margin-left: 200px;
}

footer > .footer-left div a {
  margin:0 10px 0 0; 
  font-size: 13px; 
  color: #ffffff;
  text-decoration: none;
}

footer > .footer-left p { 
  padding: 7px 0 0; 
  line-height: 21px; 
  font-size: 13px; 
  color:#ffffff;
}

footer > .footer-left p span{ 
  padding: 0 5px;
}

footer > .footer-right { 
  width: 40px; 
  float: right; 
  position: relative;
}

.count-space{
    background-color:#101113; 
    line-height: 62px;
    text-align: center;
    width: 100%;
    height: 62px;
    padding: 5px;
}

.count{
    color:#d1d1d2;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 22px;
}
.count > em {
    color: RGB(255, 7, 88);
    font-weight: bold; 
    font-style: normal;
    font-size: 20px;
}

.social-icons {
    display: flex;
    justify-content: center; 
    float: right;
  }

.social-icons a{
    display: inline-block;
    font-size: 35px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:RGB(255, 7, 88);
    transition: .4s linear;
    position: relative;
}

.social-icons a::before, .social-icons a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    left: 0;
    top:0;
    transition: .4s linear;
}

.social-icons a:hover{
    transform: scale(.8);
}


.social-icons a i::before{
    bottom: 0%;
    right: 0%;
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    transition: background .5s linear;
}

.social-icons a:hover i::before{
    background-position: 0% 0%;

}

.fa-instagram::before{
    background-image: linear-gradient(135deg,hsla(325, 64%, 35%, 0.904) 30%,RGB(255, 7, 88) 50%);
}
.fa-facebook-f::before{
    background-image: linear-gradient(135deg,#3b5998 30%,RGB(255, 7, 88) 50%);
}
.fa-twitter::before{
    background-image: linear-gradient(135deg,#1da1f2 30%,RGB(255, 7, 88) 50%);
}

